BOT_DRY_RUN=true
BOT_RUN_MODE=once
BOT_SYMBOL=SOLUSDT
BOT_SYMBOLS=
BOT_POSITION_SIZES=
BOT_HTF_TIMEFRAME=1d
BOT_LTF_TIMEFRAME=15m
BOT_HTF_LOOKBACK=15
BOT_LTF_LOOKBACK=300
BOT_POSITION_SIZE=50
BOT_ORDER_TYPE=market
BOT_UT_KEY_VALUE=2
BOT_UT_ATR_PERIOD=11
BOT_UT_USE_HEIKIN=false
BOT_DB_PATH=utbot.db
TG_ENABLED=false
TG_BOT_TOKEN=
TG_CHAT_ID=
BOT_API_HOST=0.0.0.0
BOT_API_PORT=8787

BITMART_BASE_URL=https://api-cloud-v2.bitmart.com
BITMART_ACCOUNT=futures
BITMART_API_KEY=
BITMART_API_SECRET=
BITMART_API_MEMO=
